.dashedbox {
	border-style: dotted;

	
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ NAVBAR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.navbar {
  font-family: "Georgia";
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.25vw;
}


.navbar-brand  {
  font-size: 4vw;
  color: #007FBD;
}

.nav-link{
   color: #007FBD;
}

.nav-link:hover {
   color: #F88810;
}

.navlinkactive {
	  font-weight: bold;
}

.navbar-collapse{
  text-align: center;
}

.activedropdownitem {
  font-weight: bold;
}


.hrstyle {
  width: 75%;
  height:2px;
  color:  #F88810;
  background-color:  #F88810;
}

.shortHRstyle {
  width: 12%;
  margin-top: 0em;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ BODY  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body,  .bodyfont {
  font-family: Georgia;
}


body {
	  background-color: #fffff2;
}

body {
            animation: fadeInAnimation ease 2s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }

        @keyframes fadeInAnimation {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

* {
  box-sizing: border-box;
}

/*INTRO BIO IMAGE  */
.bioimg {
  object-fit: cover;
  width: 350px;
  height: 350px;
  border-radius: 50%;
	
}

.bioimgresize img{
   object-fit: contain;
   max-width: 100%;
   height: auto;
	
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~INTRO BLRUB ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.introblurb, .introblurbp {
  font-family: Georgia;
  text-align: center;
}

.introblurb1, .introblurbp {
  color: #007FBD;
}

.introblurb2 {
  color: #F88810;
}


.skillsoutline {
	width: 100%;
	font-family: Georgia;
	color: rgba(248, 136, 16, 0.85);
	align-content: center;
	float: left;
	display: inline-block;
}

.skills {
 text-align: left;
 text-align: top;
 display:inline-block;
 margin:  20px;
 width: 40%;
 height: 100%;	
 vertical-align: top;
}


.categoryResize {
  object-fit: cover;
  border: solid;
  border-width: medium;
  border-color: rgba(113, 11, 121, 0.7);
  border-radius: 25px;
  width: 250px;
  height: 250px;
}

.row {
	 display: flex;
  align-items: start;
  justify-content: center;
}




/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~home page image hover section ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.content {
    position: relative;
	margin: auto;
    overflow: hidden;
	width: 80% \9; 
	width: 250px;
    height: 250px;
	margin-bottom: 20px;
}

.content .content-overlay {
    background: rgba(113, 11, 121, 1);
    border-radius: 25px;
    position: absolute;
	overflow: hidden;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s
}

.content:hover .content-overlay {
    opacity: 0.9;
    cursor: pointer;
    pointer-events: none;
}


.content-details {
    position: absolute;
    text-align: center;
    padding-left: 0.1em;
    padding-right: 0.1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;

}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-title {
  font-family: Georgia;
}


.content-details a {
    color: white;
    font-size: 2em;
    text-decoration: none;
}

.fadeIn-bottom {
    top: 80%
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~images on home page ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.images {
  object-fit: cover;
  width: 350px;
  height: 350px;
  border: solid;
  border-width: medium;
  border-color: rgba(113, 11, 121, 0.7);
  border-radius: 25px;
}

.images:hover {
  cursor: pointer;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~content modal overlay section ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.content-modal {
    position: relative;
	margin: auto;
    overflow: hidden;
	width: 70% \9; 
	height: relative;
	
}

.content-modal .content-modal-overlay-1 {
	align-content: center;
	font-family: Georgia; 
	color: white;
    font-size: 1.5em;
    text-decoration: none;
	background: rgba(113, 11, 121, 1);
    border-radius: 25px;
    position: absolute;
    height: 20%;
	top: 4%;
    left: 15%;
    right: 15%;
	width: 70%;
    opacity: 0.5; 
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s
}

 .content-modal .content-modal-overlay-2 {
	align-content: center;
	font-family: Georgia; 
	color: white;
    font-size: 1.25em;
    text-decoration: none;
    background: rgba(113, 11, 121, 1);
    border-radius: 25px;
	position: absolute;
    height: 20%;
	top: 28%;
    left: 15%;
    right: 15%;
	width: 70%;
    opacity: 0.5;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s

}

 .content-modal .content-modal-overlay-3 {
	align-content: center;
	font-family: Georgia; 
	color: white;
    font-size: 1.25em;
    text-decoration: none;
    background: rgba(113, 11, 121, 1);
    border-radius: 25px;
	position: absolute;
    height: 20%;
	top: 52%;
    left: 15%;
    right: 15%;
	width: 70%;
    opacity: 0.5;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s
}

 .content-modal .content-modal-overlay-4 {
    align-content: center;
	font-family: Georgia; 
	color: white;
    font-size: 1.25em;
    text-decoration: none;
    background: rgba(113, 11, 121, 1);
    border-radius: 25px;
	position: absolute;
    height: 20%;
	top: 76%;
    left: 15%;
    right: 15%;
	width: 70%;
    opacity: 0.5;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s
}

 .content-modal .content-modal-overlay-5 {
	align-content: center;
	font-family: Georgia; 
	color: white;
    font-size: 1.5em;
    text-decoration: none;
	margin-bottom: 5%;
    background: #007FBD;	
    border-radius: 25px;
	position: absolute;
    height: 100%;
	top: 0;
    left: 12.5%;
    right:  12.5%;
    opacity: 0;
    -webkit-transition: all 0.7s ease-in-out 0s;
    -moz-transition: all 0.7s ease-in-out 0s;
    transition: all 0.7s ease-in-out 0s
}


.content-modal:hover .content-modal-overlay-1, .content-modal:hover .content-modal-overlay-2, .content-modal:hover .content-modal-overlay-3, .content-modal:hover .content-modal-overlay-4  {
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
}


.content-modal:hover .content-modal-overlay-5 {
    opacity: 0.5;
    cursor: pointer;
    pointer-events: none;
}


.content-modal-details {
    position: absolute;
    text-align: center;
    padding-left: 0.1em;
    padding-right: 0.1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content-modal:hover .content-modal-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-modal-title {
  font-family: Georgia;
  color: white;
  font-size: 1em;
}


.content-modal-details a {
    color: white;
    font-size: 2em;
    text-decoration: none;
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ image title ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.descstyle {
  text-align: center;
  font-family: Georgia;
  color: #007FBD;
  text-decoration: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SKILLS TAG ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.tags
{
  display: block;
  justify-content: center;
  text-align: center;
  width: 95%;
	margin: auto;
}

.skills-tag
{
  font-family: Georgia;
  color: white;
  background: #F88810;
  font-size: 1em;
  font-weight: 200;
  line-height: 20px;
  padding: 5px 5px;
  margin: 3px 0;
  border-radius: 6px;
  display: inline-block;
}

.dashedbox-test {
	width:70%;
	border-style: solid;
    border-color: rgba(113, 11, 121, 0.6);
	padding-top: 15px;
	padding-bottom: 20px;
	 border-radius: 25px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ images for each project ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.imagesforhomepage {
	  border-radius: 25px;
}

.projectimage {
  object-fit: cover;
  width: 250px;
  height: 250px;
   /* ~~~ border-width: .3em; border-style: dotted;~*/
}

.projectimage:hover {
  cursor: pointer;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ IMAGES ON PORTFOLIO ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.portfolioimgborder{
	width: 90%;
	border-style: solid;
    border-color: rgba(113, 11, 121, 0.6);
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ RESPONSIVE FOR INTRO HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media (min-width: 2600px) {
  .responsive-font {
    font-size: 4vw;
  }
}
@media (max-width: 2400px) {
  .responsive-font {
    font-size: 3.5vw;
  }
}
@media (max-width: 1600px) {
  .responsive-font {
    font-size: 3.3vw;
  }
}
@media (max-width: 1400px) {
  .responsive-font {
    font-size: 3.25vw;
  }
}
@media (max-width: 1200px) {
  .responsive-font {
    font-size: 3.5vw;
  }
}
@media (max-width: 1000px) {
  .responsive-font {
    font-size: 3.25vw;
  }
}
@media (max-width: 900px) {
  .responsive-font {
    font-size: 5vw;
  }
}
@media (max-width: 400px) {
  .responsive-font {
    font-size: 4vw;
  }
}
@media (max-width: 200px) {
  .responsive-font {
    font-size: 4vw;
  }
}



/*RESPONSIVE FOR INTRO BLURB*/
@media (min-width: 2600px) {
  .responsive-font2 {
    font-size: 2.5vw;
  }
}
@media (max-width: 2400px) {
  .responsive-font2{
    font-size: 2vw;
  }
}
@media (max-width: 1600px) {
  .responsive-font2 {
    font-size: 1.5vw;
  }
}
@media (max-width: 1400px) {
  .responsive-font2{
    font-size: 2vw;
  }
}
@media (max-width: 1200px) {
  .responsive-font2{
    font-size: 2.1vw;
  }
}
@media (max-width: 1000px) {
  .responsive-font2{
    font-size: 2.15vw;
  }
}
@media (max-width: 900px) {
  .responsive-font2{
    font-size: 3.5vw;
  }
}
@media (max-width: 400px) {
  .responsive-font2 {
    font-size: 4vw;
  }
}
@media (max-width: 200px) {
  .responsive-font2{
    font-size: 3vw;
  }
}




/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ PROJECT TITLE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media (min-width: 2600px) {
   .descstyle {
    font-size: 2.25vw;
  }
}
@media (max-width: 2400px) {
  .responsive-font2, .descstyle {
    font-size: 1.75vw;
  }
}
@media (max-width: 1600px) {
  .responsive-font2, .descstyle {
    font-size: 1.25vw;
  }
}
@media (max-width: 1400px) {
  .responsive-font2, .descstyle {
    font-size: 1.75vw;
  }
}
@media (max-width: 1200px) {
  .responsive-font2, .descstyle {
    font-size: 2vw;
  }
}
@media (max-width: 1000px) {
  .responsive-font2, .descstyle{
    font-size: 2vw;
  }
}
@media (max-width: 900px) {
  .responsive-font2, .descstyle {
    font-size: 2.5vw;
  }
}
@media (max-width: 400px) {
  .responsive-font2, .descstyle {
    font-size: 3vw;
  }
}
@media (max-width: 200px) {
  .responsive-font2, .descstyle{
    font-size: 2vw;
  }
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ BOTTOM FOOTER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.bottomnavarrows {
  font-family: Georgia;
  font-weight: bold;
  color: #007FBD;
  font-size: 1.5vw;
	 justify-content: center;
            text-align: center;
            align-items: center;
	
		border: solid;
	border-color: #007FBD;
	border-radius: 50px;
}


.footertablestyle {
  width: 75%;
  margin: auto;
  align-content: center;
  vertical-align: center;
  justify-content: center;
 text-align: center; 
}

.toparrow{
  	width: 25%;
  	margin: auto;    
	
}

.h2style {
  text-align: center;
  font-family: Georgia;
}

.h5style {
  text-align: center;
  font-family: Georgia;
}



.dimsummodalimages {
  overflow: hidden;
  text-align: center;
}

.modalexpandimage {
  object-fit: cover;
  /* preserving the aspect ratio, and also filling in the space, like this:*/
  width: 450px;
  height: 350px;
  padding: 15px;
}

.modalexpandimage2 {
  object-fit: cover;
  /* preserving the aspect ratio, and also filling in the space, like this:*/
  width: 350px;
  padding: 15px;
}

.modalexpandimage3 {
  object-fit: cover;
  /* preserving the aspect ratio, and also filling in the space, like this:*/
  width: 550px;
  padding: 15px;
}

.modalexpandimage4 {
  object-fit: cover;
  /* preserving the aspect ratio, and also filling in the space, like this:*/
  width: 430px;
  padding: 15px;
}

.modalimage {
  text-align: center;
}

#gpsSMALLimage {
  object-position: 50% 70%;
}

#muscleSMALLimage {
  object-position: 100% 80%;
}

#WBDAYSMALLimage {
  object-position: 100% 80%;
}

#pofaSMALLimage {
  object-position: 60% 100%;
}

.tablestyle {
  margin-left: auto;
  margin-right: auto;
}

.tdstyle {
  padding: 45px;
  padding-top: 10px;
  text-align: center;
}

#coop1arousalModal, #coop2CAAModal, #lowcosttomoModal, #tableModal, #dimsumModal, #solarModal, #gpsModal,
#phoneModal, #muscleModal, #webportModal, #GogglesModal, #brainscatcoeffModal, #airModal {
  font-family: Georgia;
}

.viewcodeheremuscle{
  text-align: center;
  font-family: Georgia;
  text-decoration: none;
  color: #429EBD;
}





.copyrightstyle {
  color: #007FBD;
  font-family: Georgia;
  float: left;
}

.socialsStyle {
  float: right;
}


.aboutMEtablestyle {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.biostyle {
  padding: 20px;
  font-family: Georgia;
  font-size: 20px;
  line-height: 2;
  text-align: justify;
}

.biostyle2 {
  padding: 20px;
  font-family: Georgia;
  font-size: 17px;
  line-height: 2;
}

.biostyle3 {
  font-family: Georgia;
  font-size: 16px;
  line-height: 2;
  text-align: center;
}

.locationtitle {
  padding-bottom: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(11, 5vw);
  grid-gap: 1.5rem;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery__item--2 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery__item--3 {
  grid-column-start: 6;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 8;
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 8;
}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 8;
  grid-row-end: 12;
}

.gallery__item--6 {
  grid-column-start: 6;
  grid-column-end: 10;
  grid-row-start: 8;
  grid-row-end: 12;
}

.container2 {
  width: 60%;
  margin: auto;
}

.gallery2 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(10, 5vw);
  grid-gap: 2rem;
}

.gallery2__img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.gallery2__item--1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery2__item--2 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 7;
}

.gallery2__item--3 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 7;
}

.gallery2__item--4 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 9;
}

.gallery2__item--5 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 9;
}

.youtubevid {
  text-align: center;
}

.featuredtitlesize {
  text-align: center;
  font-family: Georgia;
  height: 10%;
  width: 60%;
}

.featuredtitlestyle {
  text-align: center;
  font-family: Georgia;
}

.blog {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

.btn-secondary {
  color: white;
  padding: 5px;
  margin: 5px;
  width: 100%;
  text-transform: lowercase;
}

.japanvidyoutube {
  width: 480px;
  height: 270px;
  object-fit: cover;
  padding: 15px;
}

.giphy-embed {
  width: 480px;
  height: 270px;
  object-fit: cover;
  padding: 15px;
}

.btn-link {
  color: black;
  text-transform: lowercase;
}

.storetableheader {
  text-align: center;
  font-size: 30px;
  font-family: Georgia;
}

.storeimgVERT {
  width: 350px;
}

.storeimgHORIZ {
  width: 500px;
}

.pricestyle {
  color: steelblue;
}

.formstyle {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  font-family: Georgia;
}

.productTitle {
  font-size: 20px;
  text-transform: lowercase;
}

.productDESC {
  color: slategrey;
  text-transform: lowercase;
}

.shopinfo {
  text-align: center;
  font-family: Georgia;
  color: slategrey;
}

#paypal-button-container {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#fullNameNull, #emailNull, #quantityerror, #contactfullNameNull,
#contactemailNull, #contactsubjectNull, #addresserror,
#cityerror, #stateerror, #ziperror, #contactmessageNull, #contacterror {
  color: red;
  font-size: 12px;
}

.divwidthstyle {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

.btn-primary {
  text-transform: uppercase;
}

/* https://bootsnipp.com/snippets/7KaXj */
.btn-2 {
  flex: 1 1 auto;
  margin: 10px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.btn-2:hover {
  background-position: right center;
  /* change the direction of the change here */
}

.btn-2 {
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}

.mb-4 {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  font-family: Georgia;
}

#paypal-button-container {
  width: 30%;
  margin-right: auto;
  margin-left: auto;
}

.h4style {
  text-align: center;
  font-family: Georgia;
}

#resultElement2 {
  color: green;
  font-size: 18px;
}

.japanvid {
  width: 560px;
  height: 315px;
  align: center;
  padding: 15px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.column {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.row {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submitbutton {
  text-align: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.errorblogpost {
  text-align: center;
  color: red;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.blogrowinserted {
  text-align: center;
  color: green;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.phpmedia {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.timestampstyle {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}

.my-4 {
  font-family: Georgia;
}

.sled {
  text-align: center;
}

.simusewholeassemimg {
  border-style: solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.itemheaders {
  font-family: Georgia;
  border-style: solid;
  vertical-align: top;
}


.airimg{
  display: inline;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width: 350px;
  height: 350px;
  padding: 15px;
  border-style: solid;
}


.air {
 margin: auto;
 text-align: center;
 padding: 15px;
}

.airimglong {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width: 500px;
  padding: 15px;
}

.airimgsm {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width: 350px;
  height: 350px;
  padding: 10px;
}

.sectionheader, .finalproductheader  {
float: left;
border-style: solid;
}


.finalproductheader {
  width: 50%;
}

.finalproductblurb {
  width: 25%;
}

.contenttable {
border-style: solid;
margin-left: auto;
margin-right: auto;
vertical-align: text-top;
text-align:top;
width: 75%;
}

.projecttitle, .projecttitleLONG, .modal-title, .modal-header {
text-align: center;
color: #429EBD;
font-family: Georgia;
}



.projecttitle2 {
  text-align: center;
  font-family: Georgia;
  color: #429EBD;
}

.projecttitle2div {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: 1200px) {
  .projecttitle {
    font-size: 35px;
  }
  .projecttitleLONG {
    font-size: 25px;
  }

  .imagesforhomepage {
    padding: 0px;
  }
}
/* If the screen size is smaller than 1200px, set the font-size to 80px */
@media (max-width: 1199.98px) {
  .projecttitle {
    font-size: 25px;
  }
  .projecttitleLONG {
    font-size: 20px;
  }

  .imagesforhomepage {
    padding-bottom: 5px;
    padding-top: 5px;
  }
}


.sectionrow {
  padding-bottom: 15px;
  padding-top: 15px;
}

@media (max-width: 768px) {
  .airimage2 {
width: 200px;
  }
}

.airtestimage {
display: inline;
margin-left: auto;
margin-right: auto;
object-fit: cover;
width: 300px;
height: 300px;
}

.introcontent, .skillscontent {
  border-style: solid;
}

.sectionrow {
  padding-bottom: 15px;
}

.tagblock {
  display: block;
  text-align: center;
}

.bondingimglarge {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.bondingimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 5px;
}


.imgs {
  object-fit: cover;
  width: 350px;
  height: 350px;
  padding: 15px;
}

.testsss{
  display: float;
  border: solid red;
}

.fourbyfourimg {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width: 250px;
  height: 250px;
  padding: 5px;
}

.onevid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width: 60%;
  padding: 5px;
}


.fourbyfourimglarge {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width: 350px;
  height: 350px;
  padding: 5px;
}

.solarcadimg{
  display: inline;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width: 400px;
}

.pressfitimgbreak {
  height: 1px;
  background-color:  #429EBD;
}


.simusewholeassemimg2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.goggleimglong {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width: 350px;
  height: 250px;
  padding: 15px;


}

.logoimg{
  display: inline;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width: 150px;
}

.logodiv {
  text-align: center;
}


.sectitle {
  color: #429EBD;
}

.skillscontent, .sectionconent {
   text-align: justify;
}

.thirdsledUL {
  margin-top: -10px;
}

.bikeimglong {
  object-fit: cover;
  /* preserving the aspect ratio, and also filling in the space, like this:*/
  width: 500px;
  padding: 10px;
}

.phoneimg {
  object-fit: cover;
  /* preserving the aspect ratio, and also filling in the space, like this:*/
  width: 250px;
  height: 400px;
  padding: 10px;
}






	
.resumedoc {
  margin: auto;
  text-align: center;
  width: 75%;
  height: 3000px;
}

.resumeblock {
  margin: auto;
  text-align: center;
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    width: 75%;
    height: 1150px;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 0;
    height: 3000px;
}


.tee {
  display: block;
 width: auto;
 max-height: 100%
}

.full {
  width:100%;
  padding: 0px;
}





